// elements.scss

// scroll
.mrScrollbar.mCustomScrollbar{
	& .mCSB_dragger_bar{
		transition: .3s;

		&:hover{
			width: 15px;
			opacity: .7;
		}
	}

	.mCSB_inside {
		& > .mCSB_container{
			margin-right: 15px;
		}
	}
}
// end scroll

// popover
.popover.fade{
	background: linear-gradient(#444444, #333333);

	& .popover-title{
		background: linear-gradient(#444444, #333333);
	    border-bottom: 1px solid #111111;
	}

	& .arrow{
		&::after{
		    border-bottom-color: #444444;
		}
	}
}
// end popover

// tabs
ul.tabs{
	background: #111111;

	& li{
		display: inline-block;
		padding: 5px 15px;
		margin: 0;
		color: #a5a5a5;
		text-transform: uppercase;
		cursor: pointer;
		transition: .3s;
		background: linear-gradient(#444444, #333333);
		box-shadow: inset 0 0 10px #000000;

		&.active{
			color: #00ff00;
			background: linear-gradient(#101010, #111111, #101010);
			box-shadow: inset 0 0 10px #000000;
		}
	}
}
// end tabs