<ul class="tabs">
	<li class="active">Public</li>
	<li>Service</li>
	<li>Service 2</li>
	<li>Service 3</li>
	<li>Service 4</li>
</ul>

<div class="tab-public">
	<div class="chat-area mrScrollbar" data-mcs-theme="dark">
		<ul>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name you">you</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name pm">pm: sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name party">party: sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message message message message message message message message message message message message message message message message message message message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
		</ul>
	</div>
	<div class="chat-nav">
		<input type="text" name="message" placeholder="Enter your message"></input>
		<a href="#" class="chat-submit">Send</a>
	</div>
</div>
