<ul class="tabs">
	<li>Public</li>
	<li>Service</li>
	<li>Service 2</li>
	<li>Service 3</li>
	<li>Service 4</li>
</ul>

<div class="tab-public">
	<div class="chat-area">
		<ul>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
			<li>
				<span class="name">sgvcoder</span>
				<span class="msg">message</span>
				<span class="time">19:20:56</span>
			</li>
		</ul>
	</div>
</div>
<div class="padding-box">

</div>