		</div>

		<!-- modal template -->
		<div class="modal fade modal-dark" tabindex="-1" role="dialog" id="modal" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<div class="modal-footer-nav"></div>
						<button type="button" class="btn btn-dark" data-dismiss="modal">close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end modal template -->

		<script src="/libs/jquery-1.10.2.min.js"></script>
		<script src="/libs/bootstrap.min.js"></script>
		<script src="/libs/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="/libs/jquery.contextMenu.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<script>
		// sockets init
		var socket = io(),
			psocket = io('http://192.168.0.103:9001');
		socket.emit('findgame', 'true');

		// popovers init
		$('#users-list li .name').popover({
			placement: 'bottom',
			title: 'title',
			content: function(){
				var content = 'content';
				return content;
			},
			html: true
		}).on('click', function(e){
			$('#users-list li .name').not(this).popover('hide');
		});

		// set wrap height
		setWrapHeight();
		$(window).resize(setWrapHeight);

		function setWrapHeight()
		{
			$('#wrap-mrScrollbar').css({
				height: $(window).height()
			});
		}

		function ScrollbarInit()
		{
			// scroll init
			$(".mrScrollbar").mCustomScrollbar();
		}

		function contextMenuInit()
		{
			$.contextMenu({
			    selector: "body",
			    items: {
			        foo: {
			        	name: "Foo",
			        	callback: function(key, opt){
			        		alert("Foo!");
			        	}
			        }
			    }
			});
		}
		</script>

	</body>
</html>