	</body>
</html>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io(),
	psocket = io('http://192.168.1.4:9001');
socket.emit('findgame', 'true');
</script>